@using MVCCore.Services;
@model PaginatedList<GameModel>
@{
    ViewData["Title"] = "Home Page";
}

<span class="display-5 text-white " style="font-weight: 400;">Game Catalogue</span>
<div class="container my-5">
    <div class="row">
        @if (Model != null)
        {
            foreach (var game in Model)
            {
                <div class="card m-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@game.Name</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">@game.Category</h6>
                        <h6 class="card-subtitle mb-2 text-body-secondary">@game.AgeRating</h6>
                        <p class="card-text">@game.Description</p>
                        <a asp-action="Index" asp-controller="Review" asp-route-gameId="@game.Id" class="card-link">Read More</a>
                    </div>
                </div>
            }

        }
    </div>
    <div class="row py-5">
        @if(Model != null)
        {
            <div class="d-flex flex-row justify-content-center align-items-center text-center text-white">
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    if(i == Model.CurrentPage)
                    {
                        <a class="px-2 text-warning">@i</a>
                    }
                    else
                    {
                        <a asp-action="Index" asp-controller="Home" asp-route-pageIndex="@i" class=" px-2 text-white">@i</a>
                    }
               }
            </div>
        }
    </div>

</div>


