@using MVCCore.Services;
@model PaginatedList<MVCCore.Models.GameModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-white">Game manager</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].AgeRating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeRating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
   
</table>
<div class="d-flex flex-row justify-content-center align-items-center text-center text-white">
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        if (i == Model.CurrentPage)
        {
            <a class="px-2 text-warning">@i</a>
        }
        else
        {
            <a asp-action="Index" asp-controller="Game" asp-route-pageIndex="@i" class=" px-2 text-white">@i</a>
        }
    }
</div>
